:root {
  --odin-dark: #101828;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--odin-dark);
  color: white;
}

button {
  cursor: pointer;
}

.header {
  padding: 1em 1em;
}

.header__title {
  font-size: 2.5rem;
}

.main {
  padding: 4em 1em;
  display: flex;
  flex-direction: column;
}

.display-result {
  align-self: center;
  font-size: 2rem;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.battleship-container {
  display: grid;
  justify-content: center;
  grid-template: 210px 180px 210px / 800px 120px 800px;
  margin-bottom: 2em;
}

.board {
  outline: 2px solid white;
  display: flex;
  flex-wrap: wrap;
}

.player-board {
  grid-row-start: 1;
  grid-row-end: 4;
  margin-right: 20px;
}

.description,
.start-button {
  align-self: center;
  grid-column-start: 2;
  grid-row-start: 2;
}

.description {
  align-self: start;
  font-size: 1.15rem;
}

.computer-board {
  margin-left: 20px;
  grid-area: 1 / 3 / 4 / 4;
}

.start-button {
  border: none;
  background-color: green;
  color: white;
  font-size: 1.25rem;
  padding: 6px 0;
  border-radius: 5px;
  width: 120px;
}

.square {
  width: 10%;
  height: 10%;
  outline: 1px solid rgba(255, 255, 255, 0.849);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.ship {
  background-color: rgba(30, 175, 49, 0.288);
}

.--miss {
  background-color: rgba(62, 172, 172, 0.568);
}

.icon {
  width: 80%;
}

.--hit {
  background-color: rgba(128, 35, 35, 0.678);
}

.--sunk {
  background-color: rgba(61, 136, 39, 0.678);
}

.shuffle-button {
  width: max-content;
  background-color: transparent;
  border: none;
  color: rgb(219, 219, 219);
  font-size: 1.25rem;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.shuffle-icon {
  width: 25px;
}
